body {
    background-color: white;
}

a {
    color: #ff6600;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#page {
    max-width: 1200px;
    margin: 0 auto;
    background-color: black;
}

#menu a {
    font-size: 18px;
    font-weight: bold;
}

#menu a:hover {
    text-decoration: none;
}

#menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#menu li {
    display: inline-block;
    padding: 5px 15px;
}

#menu li:hover {
    background-color: #333333;
}

#header {
    display: grid;
    grid-template-columns: 168px auto;
    align-items: center;
    background-position: center;
}

#header #logo {
    margin: 20px;
    width: 128px;
    height: 128px;
    background-image: url("/images/otl.png");
    background-size: 128px 128px;
}

#header #title {
    font-size: 64px;
    color: #ff6600;
    text-shadow: 2px 2px 5px black;
}

@media (max-width: 600px) {
    #header #title {
        font-size: 48px;
    }
}

#discord {
    display: grid;
    grid-template-columns: auto 396px;
    padding-right: 10px;
}

#discord .title {
    color: #ff6600;
    font-size: 24px;
    font-weight: bold;
    grid-column: 1 / span 2;
    grid-row: 1;
    padding: 10px;
}

#discord .text {
    color: white;
    font-size: 14px;
    grid-column: 1;
    grid-row: 2;
    padding: 10px;
}

#discord .link {
    grid-column: 2;
    grid-row: 1 / span 2;
    align-self: end;
    padding-bottom: 10px;
}

@media only screen and (max-width: 800px) {
    #discord {
        grid-template-columns: repeat(1, auto);
    }

    #discord .title {
        grid-column: 1;
    }

    #discord .link {
        grid-column: 1;
        grid-row: 3;
        padding-left: 10px;
    }
}

#copyright {
    padding-top: 10px;
    background-color: white;
}

#copyright .left {
    float: left;
}

#copyright .right {
    float: right;
}

.section {
    color: #ff6600;
    font-size: 24px;
    font-weight: bold;
    padding: 20px 10px 10px 10px;
}

.subsection {
    font-size: 14px;
    color: white;
    margin: -10px 0 10px 10px;
}

div > .section:first-child {
    padding-top: 10px;
}

.hidden {
    display: none;
}

.numeric {
    display: inline-block;
    font-family: "Overdigit" !important;
    line-height: 0.95;
    margin-top: -1px;
}

.mixed .numeric {
    margin-top: 0;
}

.loading {
    text-align: center;
    padding: 100px;
    font-size: 48px;
    color: #999999;
}
