#matches {
    white-space: nowrap;
    overflow-x: auto;
    font-size: 14px;
}

#matches .match {
    display: inline-grid;
    padding: 5px 10px;
    color: white;
    grid-column-gap: 5px;
    column-gap: 5px;
    grid-auto-columns: auto auto max-content;
}

#matches .diamond {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-right: 6px;
    -webkit-transform: translate(5px, 1px) rotate(-45deg);
    -moz-transform: translate(5px, 1px) rotate(-45deg);
    -ms-transform: translate(5px, 1px) rotate(-45deg);
    -o-transform: translate(5px, 1px) rotate(-45deg);
    transform: translate(5px, 1px) rotate(-45deg);
    -webkit-transform-origin: 0 100%;
    -moz-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -o-transform-origin: 0 100%;
    transform-origin: 0 100%;
}

#matches .diamond-empty {
    display: inline-block;
    width: 6px;
    height: 6px;
    margin-right: 7px;
    border: solid 1px white;
    -webkit-transform: translate(5px, 1px) rotate(-45deg);
    -moz-transform: translate(5px, 1px) rotate(-45deg);
    -ms-transform: translate(5px, 1px) rotate(-45deg);
    -o-transform: translate(5px, 1px) rotate(-45deg);
    transform: translate(5px, 1px) rotate(-45deg);
    -webkit-transform-origin: 0 100%;
    -moz-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -o-transform-origin: 0 100%;
    transform-origin: 0 100%;
}

#matches .team1 {
    grid-column: 1;
    grid-row: 1;
    align-self: center;
}

#matches .team2 {
    grid-column: 1;
    grid-row: 2;
    align-self: center;
}

#matches .score1, #matches .record1 {
    grid-column: 2;
    grid-row: 1;
    text-align: right;
    color: #999999;
    align-self: center;
}

#matches .score2, #matches .record2 {
    grid-column: 2;
    grid-row: 2;
    text-align: right;
    color: #999999;
    align-self: center;
}

#matches .record1, #matches .record2 {
    font-style: italic;
}

#matches .game-type {
    grid-column: 3;
    grid-row: 1 / span 2;
    width: 32px;
    height: 32px;
    background-size: 32px 32px;
}

#matches .game-type-ta {
    background-image: url('/images/ta.png');
}

#matches .game-type-ctf {
    background-image: url('/images/ctf.png');
}

#matches .game-type-mb {
    background-image: url('/images/mb.png');
}

#matches .date {
    grid-column: 1 / span 3;
    grid-row: 3;
    text-align: center;
}

#matches .map {
    grid-column: 1 / span 3;
    grid-row: 4;
    text-align: center;
}

#matches .winner {
    font-weight: bold;
    color: white;
}

#body {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-column-gap: 80px;
}

#body #standings {
    display: grid;
    grid-template-columns: repeat(5, auto);
    padding: 10px;
}

#body #players {
    display: grid;
    grid-template-columns: repeat(4, auto);
    padding: 10px;
}

@media (max-width: 1000px) {
    #body {
        grid-template-columns: repeat(1, auto);
    }

    #body #standings {
        grid-row: 1;
        grid-column: 1;
    }

    #body #players {
        grid-row: 2;
        grid-column: 1;
    }
}

#body .diamond {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 10px;
    -webkit-transform: translate(5px, 2px) rotate(-45deg);
    -moz-transform: translate(5px, 2px) rotate(-45deg);
    -ms-transform: translate(5px, 2px) rotate(-45deg);
    -o-transform: translate(5px, 2px) rotate(-45deg);
    transform: translate(5px, 2px) rotate(-45deg);
    -webkit-transform-origin: 0 100%;
    -moz-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -o-transform-origin: 0 100%;
    transform-origin: 0 100%;
}

#body .diamond-empty {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-right: 10px;
    border: solid 2px white;
    -webkit-transform: translate(5px, 2px) rotate(-45deg);
    -moz-transform: translate(5px, 2px) rotate(-45deg);
    -ms-transform: translate(5px, 2px) rotate(-45deg);
    -o-transform: translate(5px, 2px) rotate(-45deg);
    transform: translate(5px, 2px) rotate(-45deg);
    -webkit-transform-origin: 0 100%;
    -moz-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -o-transform-origin: 0 100%;
    transform-origin: 0 100%;
}

#body .tag {
    white-space: nowrap;
}

#body #standings div.header, #body #players div.header {
    color: #999999;
}

#body #standings, #body #players {
    font-size: 20px;
    color: white;
}

#body #standings div, #body #players div {
    margin: 1px 3px;
}

@media (max-width: 600px) {
    #body #standings, #body #players {
        font-size: 16px;
    }

    #body #standings div.header, #body #standings div.header {
        font-size: 16px;
    }
}

@media (max-width: 500px) {
    #body #standings {
        grid-template-columns: repeat(4, auto);
    }

    #body #standings .team-name {
        display: none;
    }
}

#body #standings .provisional {
    color: #999999;
    font-style: italic;
}

#news #articles {
    display: grid;
    padding: 10px;
}

#news #articles .author {
    color: #999999;
    font-size: 14px;
    margin-top: 10px;
    text-decoration: underline;
}

#news #articles .author:first-child {
    margin-top: 0;    
}

#news #articles .body {
    color: white;
    font-size: 16px;
}
