#maplist {
    color: white;
}

#maplist .text {
    padding: 10px;
}

#maps {
    margin: 0 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-flow: column;
}

#maps > div {
    color: white;
}
