#data {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

#match, #stats {
    margin: 10px;
}

#match .diamond {
    display: inline-block;
    width: 14px;
    height: 14px;
    margin: 0 12px 0 5px;
    -webkit-transform: translate(5px, 2px) rotate(-45deg);
    -moz-transform: translate(5px, 2px) rotate(-45deg);
    -ms-transform: translate(5px, 2px) rotate(-45deg);
    -o-transform: translate(5px, 2px) rotate(-45deg);
    transform: translate(5px, 2px) rotate(-45deg);
    -webkit-transform-origin: 0 100%;
    -moz-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -o-transform-origin: 0 100%;
    transform-origin: 0 100%;
}

#match .diamond-empty {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 12px 0 5px;
    border: solid 2px white;
    -webkit-transform: translate(5px, 2px) rotate(-45deg);
    -moz-transform: translate(5px, 2px) rotate(-45deg);
    -ms-transform: translate(5px, 2px) rotate(-45deg);
    -o-transform: translate(5px, 2px) rotate(-45deg);
    transform: translate(5px, 2px) rotate(-45deg);
    -webkit-transform-origin: 0 100%;
    -moz-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -o-transform-origin: 0 100%;
    transform-origin: 0 100%;
}

#match {
    display: grid;
    color: white;
    margin-top: 20px;
    max-width: 500px;
    width: 100%;
    align-items: start;
    justify-self: center;
    grid-template-columns: auto auto min-content;
}

#match .title {
    text-align: center;
    grid-column: 1 / span 3;
    grid-row: 1;
    font-size: 20px;
}

#match .tag1 {
    white-space: nowrap;
    grid-column: 1;
    grid-row: 2;
    font-size: 24px;
}

#match .team1 {
    grid-column: 1;
    grid-row: 3;
    font-size: 14px;
}

#match .record1 {
    font-size: 12px;
    color: #999999;
    font-style: italic;
}

#match .change1 {
    grid-column: 1;
    grid-row: 4;
    font-size: 12px;
    color: #999999;
    font-style: italic;
}

#match.unplayed .change1 {
    grid-column: 2;
    grid-row: 2 / span 3;
    font-size: 20px;
    text-align: right;
    align-self: center;
    color: #999999;
}

#match .score1 {
    grid-column: 2;
    grid-row: 2 / span 3;
    font-size: 48px;
    text-align: right;
    align-self: center;
    color: #999999;
}

#match.unplayed .score1 {
    display: none;
}

#match .tag2 {
    white-space: nowrap;
    grid-column: 1;
    grid-row: 5;
    font-size: 24px;
}

#match .team2 {
    grid-column: 1;
    grid-row: 6;
    font-size: 14px;
}

#match .record2 {
    font-size: 12px;
    color: #999999;
    font-style: italic;
}

#match .change2 {
    grid-column: 1;
    grid-row: 7;
    font-size: 12px;
    color: #999999;
    font-style: italic;
}

#match.unplayed .change2 {
    grid-column: 2;
    grid-row: 5 / span 3;
    font-size: 20px;
    text-align: right;
    align-self: center;
    color: #999999;
}

#match .score2 {
    grid-column: 2;
    grid-row: 5 / span 3;
    font-size: 48px;
    text-align: right;
    align-self: center;
    color: #999999;
}

#match.unplayed .score2 {
    display: none;
}

#match .game-type {
    grid-column: 3;
    grid-row: 2 / span 6;
    width: 32px;
    height: 32px;
    background-size: 32px 32px;
    align-self: center;
}

#match .game-type-ta {
    background-image: url('/images/ta.png');
}

#match .game-type-ctf {
    background-image: url('/images/ctf.png');
}

#match .game-type-mb {
    background-image: url('/images/mb.png');
}

#match .map {
    grid-column: 1;
    grid-row: 8;
    font-size: 18px;
    margin-top: 3px;
}

#match .date {
    grid-column: 2 / span 2;
    grid-row: 8;
    font-size: 18px;
    text-align: right;
    margin-top: 3px;
}

#match .winner {
    color: white;
}

#stats {
    display: grid;
    color: white;
    font-size: 14px;
    margin-top: 5px;
    max-width: 500px;
    width: 100%;
    grid-template-columns: auto 18px auto auto auto auto auto;
}

#stats.stats-ctf {
    grid-template-columns: auto 18px auto auto auto auto auto auto auto auto auto;
}

#stats .header {
    color: #999999;
    font-size: 14px;
}

#stats .header.name {
    grid-column-end: span 2;
}

#stats .diamond, #details .diamond {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-right: 6px;
    margin-left: 2px;
    -webkit-transform: translate(5px, 1px) rotate(-45deg);
    -moz-transform: translate(5px, 1px) rotate(-45deg);
    -ms-transform: translate(5px, 1px) rotate(-45deg);
    -o-transform: translate(5px, 1px) rotate(-45deg);
    transform: translate(5px, 1px) rotate(-45deg);
    -webkit-transform-origin: 0 100%;
    -moz-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -o-transform-origin: 0 100%;
    transform-origin: 0 100%;
}

#stats .diamond-empty, #details .diamond-empty {
    display: inline-block;
    width: 6px;
    height: 6px;
    margin-right: 7px;
    margin-left: 2px;
    border: solid 1px white;
    -webkit-transform: translate(5px, 1px) rotate(-45deg);
    -moz-transform: translate(5px, 1px) rotate(-45deg);
    -ms-transform: translate(5px, 1px) rotate(-45deg);
    -o-transform: translate(5px, 1px) rotate(-45deg);
    transform: translate(5px, 1px) rotate(-45deg);
    -webkit-transform-origin: 0 100%;
    -moz-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -o-transform-origin: 0 100%;
    transform-origin: 0 100%;
}

#stats .tag {
    white-space: nowrap;
}

#stats .twitch-image {
    display: inline-block;
    background-image: url(/images/twitch.png);
    background-size: 14px 14px;
    width: 14px;
    height: 14px;
}

#weapons,
#weapons a,
#weapons a img {
    vertical-align: middle;
}

#damage {
    padding: 10px;
    grid-template-columns: max-content;
    color: white;
    font-size: 14px;
}

#damage #grid .table {
    display: grid;
    justify-content: center;
}

#damage #grid .table #weapon-container {
    display: flex;
}

#damage #grid .table #weapon-container #weapon {
    align-self: flex-end;
}

#damage #grid .table > div {
    border: solid 1px #999999;
    margin-bottom: -1px;
    margin-left: -1px;
    padding: 3px 3px 0 3px;
}

#damage #grid .table .right {
    text-align: right;
}

#damage #grid .table .vertical {
    writing-mode: vertical-lr;
    text-align: right;
    padding-bottom: 3px;
}

#damage #grid .table .friendly {
    color: red;
}

#details {
    display: grid;
    grid-template-columns: repeat(6, auto);
    color: white;
    font-size: 14px;
    margin-top: 5px;
}

#details > div:nth-child(odd) {
    text-align: right;
    padding-left: 5px;
    padding-right: 3px;
}

#details > div:nth-child(even) {
    text-align: left;
    padding-left: 3px;
    padding-right: 5px;
}
