span.grey {
    color: #999999;
}

.diamond {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 8px 0 3px;
    -webkit-transform: translate(5px, 1px) rotate(-45deg);
    -moz-transform: translate(5px, 1px) rotate(-45deg);
    -ms-transform: translate(5px, 1px) rotate(-45deg);
    -o-transform: translate(5px, 1px) rotate(-45deg);
    transform: translate(5px, 1px) rotate(-45deg);
    -webkit-transform-origin: 0 100%;
    -moz-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -o-transform-origin: 0 100%;
    transform-origin: 0 100%;
}

.diamond-empty {
    display: inline-block;
    width: 6px;
    height: 6px;
    margin: 0 8px 0 3px;
    border: solid 2px white;
    -webkit-transform: translate(5px, 1px) rotate(-45deg);
    -moz-transform: translate(5px, 1px) rotate(-45deg);
    -ms-transform: translate(5px, 1px) rotate(-45deg);
    -o-transform: translate(5px, 1px) rotate(-45deg);
    transform: translate(5px, 1px) rotate(-45deg);
    -webkit-transform-origin: 0 100%;
    -moz-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -o-transform-origin: 0 100%;
    transform-origin: 0 100%;
}

.options {
    font-size: 14px;
    padding: 10px;
    color: white;
}

.options .grey {
    color: #999999;
}

#opponent .teams {
    display: grid;
    grid-template-columns: repeat(2, auto);
    padding: 10px;
    color: #ff6600;
    font-size: 24px;
}

#opponent .teams .team * {
    display: inline-block;
}

#opponent .teams .team .name {
    margin-left: 20px;
}

#opponent .teams .team .diamond {
    display: inline-block;
    width: 14px;
    height: 14px;
    margin: 0 10px 0 10px;
    -webkit-transform: translate(5px, 2px) rotate(-45deg);
    -moz-transform: translate(5px, 2px) rotate(-45deg);
    -ms-transform: translate(5px, 2px) rotate(-45deg);
    -o-transform: translate(5px, 2px) rotate(-45deg);
    transform: translate(5px, 2px) rotate(-45deg);
    -webkit-transform-origin: 0 100%;
    -moz-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -o-transform-origin: 0 100%;
    transform-origin: 0 100%;
}

#opponent .teams .team .diamond-empty {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 10px 0 10px;
    border: solid 2px white;
    -webkit-transform: translate(5px, 2px) rotate(-45deg);
    -moz-transform: translate(5px, 2px) rotate(-45deg);
    -ms-transform: translate(5px, 2px) rotate(-45deg);
    -o-transform: translate(5px, 2px) rotate(-45deg);
    transform: translate(5px, 2px) rotate(-45deg);
    -webkit-transform-origin: 0 100%;
    -moz-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -o-transform-origin: 0 100%;
    transform-origin: 0 100%;
}

#opponent .records {
    display: grid;
    grid-template-columns: 150px 120px 100px 120px 150px;
    color: white;
    column-gap: 10px;
    text-align: center;
    justify-content: center;
}

#opponent .records .team1wins {
    text-align: right;
}

#opponent .records .team2wins {
    text-align: left;
}

#opponent .records .numeric {
    font-size: 20px;
}

#opponent .records .title {
    color: white;
    padding-top: 5px;
    text-align: right;
}

#opponent .records .section {
    grid-column-end: span 5;
}

#opponent .records .team2wins .diamond {
    margin-left: 7px;
}

#opponent .players .title {
    padding: 10px;
    color: white;
}

@media (max-width: 700px) {
    #opponent .records {
        grid-template-columns: 150px 120px 100px 120px 0;
    }
}

#matches {
    display: grid;
    grid-template-columns: repeat(9, auto);
    grid-column-gap: 10px;
    column-gap: 10px;
    padding: 10px;
    color: white;
    font-size: 14px;
}

#matches .tag {
    white-space: nowrap;
}

#matches .result {
    grid-column-end: span 2;
}

#matches .plus {
    font-size: 12px;
    width: 6px;
}

#matches .header.team {
    grid-column-end: span 2;
}

#matches .header.player {
    grid-column-end: span 3;
}

#matches .best-stats {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

@media (max-width: 1100px) {
    #matches {
        grid-template-columns: repeat(8, auto);
    }

    #matches .team-name {
        display: none;
    }

    #matches .header.team {
        grid-column-end: span 1;
    }
}

@media (max-width: 800px) {
    #matches {
        grid-template-columns: repeat(7, auto);
    }

    #matches .header.player {
        grid-column-end: span 2;
    }

    #matches .best-stats {
        display: none;
    }
}

@media (max-width: 700px) {
    #matches {
        grid-template-columns: repeat(5, auto);
    }

    #matches .player {
        display: none;
    }
}

@media (max-width: 500px) {
    #matches {
        grid-template-columns: repeat(4, auto);
    }

    #matches .date {
        display: none;
    }
}

.stats {
    display: grid;
    grid-column-gap: 5px;
    column-gap: 5px;
    padding: 10px;
    color: white;
    font-size: 14px;
}

.stats-ta {
    grid-template-columns: repeat(15, auto);
}

.stats-ctf {
    grid-template-columns: repeat(21, auto);
}

.stats .player, .stats .map {
    max-width: 75px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.stats .best-stats {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#matches .diamond,
.stats .diamond {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin: 0 7px 0 1px;
    -webkit-transform: translate(5px, 1px) rotate(-45deg);
    -moz-transform: translate(5px, 1px) rotate(-45deg);
    -ms-transform: translate(5px, 1px) rotate(-45deg);
    -o-transform: translate(5px, 1px) rotate(-45deg);
    transform: translate(5px, 1px) rotate(-45deg);
    -webkit-transform-origin: 0 100%;
    -moz-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -o-transform-origin: 0 100%;
    transform-origin: 0 100%;
}

#matches .diamond-empty,
.stats .diamond-empty {
    display: inline-block;
    width: 6px;
    height: 6px;
    margin: 0 7px 0 1px;
    border: solid 1px white;
    -webkit-transform: translate(5px, 1px) rotate(-45deg);
    -moz-transform: translate(5px, 1px) rotate(-45deg);
    -ms-transform: translate(5px, 1px) rotate(-45deg);
    -o-transform: translate(5px, 1px) rotate(-45deg);
    transform: translate(5px, 1px) rotate(-45deg);
    -webkit-transform-origin: 0 100%;
    -moz-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -o-transform-origin: 0 100%;
    transform-origin: 0 100%;
}

.stats .tag {
    white-space: nowrap;
}

.stats .header.best {
    grid-column-end: span 3;
}

@media (max-width: 1000px) {
    .stats-ta {
        grid-template-columns: repeat(14, auto);
    }

    .stats-ctf {
        grid-template-columns: repeat(20, auto);
    }

    .stats .header.best {
        grid-column-end: span 2;
    }

    .stats .best-stats {
        display: none;
    }
}

@media (max-width: 900px) {
    .stats-ta {
        grid-template-columns: repeat(12, auto);
    }

    .stats-ctf {
        grid-template-columns: repeat(18, auto);
    }

    .stats .best {
        display: none;
    }
}

@media (max-width: 600px) {
    .stats-ta {
        grid-template-columns: repeat(8, auto);
    }

    .stats-ctf {
        grid-template-columns: repeat(10, auto);
    }

    .stats .totals {
        display: none;
    }
}
