#free-agents {
    color: white;
}

#free-agents .text {
    color: #999999;
    padding: 0 10px;
}

#free-agents .players {
    display: inline-grid;
    grid-template-columns: repeat(2, auto);
    grid-column-gap: 10px;
    column-gap: 10px;
    padding: 10px;
}

#options {
    padding: 10px;
    color: white;
}

#options .grey {
    color: #999999;
}

#stats {
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

@media (max-width: 800px) {
    #stats {
        grid-template-columns: 50% 50%;
    }
}

#stats .diamond {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-right: 6px;
    -webkit-transform: translate(5px, 1px) rotate(-45deg);
    -moz-transform: translate(5px, 1px) rotate(-45deg);
    -ms-transform: translate(5px, 1px) rotate(-45deg);
    -o-transform: translate(5px, 1px) rotate(-45deg);
    transform: translate(5px, 1px) rotate(-45deg);
    -webkit-transform-origin: 0 100%;
    -moz-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -o-transform-origin: 0 100%;
    transform-origin: 0 100%;
}

#stats .diamond-empty {
    display: inline-block;
    width: 6px;
    height: 6px;
    margin-right: 7px;
    border: solid 1px white;
    -webkit-transform: translate(5px, 1px) rotate(-45deg);
    -moz-transform: translate(5px, 1px) rotate(-45deg);
    -ms-transform: translate(5px, 1px) rotate(-45deg);
    -o-transform: translate(5px, 1px) rotate(-45deg);
    transform: translate(5px, 1px) rotate(-45deg);
    -webkit-transform-origin: 0 100%;
    -moz-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -o-transform-origin: 0 100%;
    transform-origin: 0 100%;
}

#stats .tag {
    white-space: nowrap;
}

#stats .stats {
    display: grid;
    grid-template-columns: repeat(4, auto);
    color: white;
    font-size: 14px;
    padding: 0 10px;
}

#stats .stats .header {
    color: #999999;
    font-size: 14px;
}

#stats .stats .value {
    text-align: right;
}

#stats .separator {
    grid-column-end: span 4;
    height: 1px;
    background-color: #ff6600;
}

#stats .average {
    grid-column-end: span 4;
    color: white;
    text-align: center;
}

#no-results {
    color: white;
    padding: 10px;
}