#free-agents {
    color: white;
}

#free-agents .text {
    color: #999999;
    padding: 0 10px;
}

#free-agents .players {
    display: inline-grid;
    grid-template-columns: auto auto;
    column-gap: 10px;
    grid-column-gap: 10px;
    padding: 10px;
}

#stats {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

#stats .diamond {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-right: 6px;
    -webkit-transform: translate(5px, 1px) rotate(-45deg);
    -moz-transform: translate(5px, 1px) rotate(-45deg);
    -ms-transform: translate(5px, 1px) rotate(-45deg);
    -o-transform: translate(5px, 1px) rotate(-45deg);
    transform: translate(5px, 1px) rotate(-45deg);
    -webkit-transform-origin: 0 100%;
    -moz-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -o-transform-origin: 0 100%;
    transform-origin: 0 100%;
}

#stats .diamond-empty {
    display: inline-block;
    width: 6px;
    height: 6px;
    margin-right: 7px;
    border: solid 1px white;
    -webkit-transform: translate(5px, 1px) rotate(-45deg);
    -moz-transform: translate(5px, 1px) rotate(-45deg);
    -ms-transform: translate(5px, 1px) rotate(-45deg);
    -o-transform: translate(5px, 1px) rotate(-45deg);
    transform: translate(5px, 1px) rotate(-45deg);
    -webkit-transform-origin: 0 100%;
    -moz-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -o-transform-origin: 0 100%;
    transform-origin: 0 100%;
}

#stats .stats {
    display: grid;
    grid-template-columns: auto auto auto auto;
    color: white;
    font-size: 14px;
    padding: 0 10px;
}

@media only screen and (max-width: 800px) {
    #stats {
        grid-template-columns: 50% 50%;
    }
}

#stats .stats .header {
    color: #999999;
    font-size: 18px;
}

#stats .stats .value {
    text-align: right;
}
