.diamond {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 8px 0 3px;
    -webkit-transform: translate(5px, 1px) rotate(-45deg);
    -moz-transform: translate(5px, 1px) rotate(-45deg);
    -ms-transform: translate(5px, 1px) rotate(-45deg);
    -o-transform: translate(5px, 1px) rotate(-45deg);
    transform: translate(5px, 1px) rotate(-45deg);
    -webkit-transform-origin: 0 100%;
    -moz-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -o-transform-origin: 0 100%;
    transform-origin: 0 100%;
}

.diamond-empty {
    display: inline-block;
    width: 6px;
    height: 6px;
    margin: 0 8px 0 3px;
    border: solid 2px white;
    -webkit-transform: translate(5px, 1px) rotate(-45deg);
    -moz-transform: translate(5px, 1px) rotate(-45deg);
    -ms-transform: translate(5px, 1px) rotate(-45deg);
    -o-transform: translate(5px, 1px) rotate(-45deg);
    transform: translate(5px, 1px) rotate(-45deg);
    -webkit-transform-origin: 0 100%;
    -moz-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -o-transform-origin: 0 100%;
    transform-origin: 0 100%;
}

.header {
    color: #999999;
}

#player {
    display: grid;
    grid-template-columns: repeat(2, auto);
    color: white;
    padding: 10px;
}

#player .section {
    padding-left: 0;
    padding-right: 0;
}

#player #name {
    grid-column-end: span 2;
    font-size: 48px;
    color: #ff6600;
}

#player #twitch {
    grid-column-end: span 2;
    font-size: 24px;
}

#player #twitch #glitch {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url(/images/twitch.png);
    background-size: 24px 24px;
    margin-right: 10px;
}

#player #team .tag {
    display: inline;
    white-space: nowrap;
}

#player #team .name {
    display: inline;
    margin-left: 10px;
}

#no-stats {
    color: white;
    padding: 10px;
    font-size: 14px;
}

#stats {
    display: grid;
    color: white;
    grid-column-gap: 5px;
    column-gap: 5px;
    padding: 10px;
    font-size: 14px;
}

#stats.stats-TA {
    grid-template-columns: repeat(14, auto);
}

#stats.stats-CTF {
    grid-template-columns: repeat(20, auto);
}

#stats .lifetime {
    grid-column-end: span 3;
}

#team-stats {
    display: grid;
    color: white;
    grid-column-gap: 5px;
    column-gap: 5px;
    padding: 10px;
    font-size: 14px;
}

#team-stats.team-stats-TA {
    grid-template-columns: repeat(13, auto);
}

#team-stats.team-stats-CTF {
    grid-template-columns: repeat(19, auto);
}

.options {
    padding: 10px;
    color: white;
}

.options .grey {
    color: #999999;
}

#gamelog {
    padding: 10px;
    font-size: 18px;
    color: white;
}

#opponents {
    display: grid;
    color: white;
    grid-template-columns: repeat(10, auto);
    grid-column-gap: 5px;
    column-gap: 5px;
    padding: 10px;
    font-size: 14px;
}

#opponents .best {
    grid-column-end: span 3;
}

#maps {
    display: grid;
    color: white;
    grid-template-columns: repeat(10, auto);
    grid-column-gap: 5px;
    column-gap: 5px;
    padding: 10px;
    font-size: 14px;
}

#maps .best {
    grid-column-end: span 4;
}

@media (max-width: 1100px) {
    #opponents {
        grid-template-columns: repeat(9, auto);
    }

    #opponents .team {
        grid-column-end: span 1;
    }

    #maps {
        grid-template-columns: repeat(9, auto);
    }

    #maps .best {
        grid-column-end: span 3;
    }

    #opponents .team-name,
    #maps .team-name {
        display: none;
    }
}

@media (max-width: 900px) {
    #opponents {
        grid-template-columns: repeat(8, auto);
    }

    #opponents .best {
        grid-column-end: span 2;
    }

    #maps {
        grid-template-columns: repeat(8, auto);
    }

    #maps .best {
        grid-column-end: span 2;
    }

    #opponents .match-time,
    #maps .match-time {
        display: none;
    }
}

@media (max-width: 600px) {
    #opponents {
        grid-template-columns: repeat(6, auto);
    }

    #maps {
        grid-template-columns: repeat(6, auto);
    }

    #opponents .best,
    #opponents .best-stats,
    #maps .best,
    #maps .best-stats {
        display: none;
    }
}

#matches {
    display: grid;
    color: white;
    grid-template-columns: repeat(9, auto);
    grid-column-gap: 5px;
    column-gap: 5px;
    padding: 10px;
    font-size: 14px;
}

#matches .result {
    grid-column-end: span 2;
}

#matches .plus {
    font-size: 12px;
    width: 6px;
}

.team {
    grid-column-end: span 2;
}

@media (max-width: 1000px) {
    #matches {
        grid-template-columns: repeat(7, auto);
    }

    #matches .team-name {
        display: none;
    }

    #matches .team {
        grid-column-end: span 1;
    }
}

@media (max-width: 900px) {
    #stats.stats-TA {
        grid-template-columns: repeat(13, auto);
    }

    #stats.stats-CTF {
        grid-template-columns: repeat(19, auto);
    }

    #stats .team-name {
        display: none;
    }

    #stats .team {
        grid-column-end: span 1;
    }

    #stats .lifetime {
        grid-column-end: span 2;
    }
    
    #team-stats-TA {
        grid-template-columns: repeat(11, auto);
    }

    #team-stats-CTF {
        grid-template-columns: repeat(17, auto);
    }

    #team-stats .team-name {
        display: none;
    }

    #team-stats .team {
        grid-column-end: span 1;
    }
}

@media (max-width: 700px) {
    #stats.stats-TA {
        grid-template-columns: repeat(9, auto);
    }

    #stats.stats-CTF {
        grid-template-columns: repeat(15, auto);
    }

    #stats .totals {
        display: none;
    }

    #team-stats.team-stats-TA {
        grid-template-columns: repeat(8, auto);
    }

    #team-stats.team-stats-CTF {
        grid-template-columns: repeat(14, auto);
    }

    #team-stats .totals {
        display: none;
    }

    #matches {
        grid-template-columns: repeat(6, auto);
    }

    #matches .date {
        display: none;
    }
}

@media (max-width: 600px) {
    #matches {
        grid-template-columns: repeat(5, auto);
    }

    #matches .map {
        display: none;
    }
}

#stats .diamond,
#team-stats .diamond,
#matches .diamond {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin: 0 7px 0 1px;
    -webkit-transform: translate(5px, 1px) rotate(-45deg);
    -moz-transform: translate(5px, 1px) rotate(-45deg);
    -ms-transform: translate(5px, 1px) rotate(-45deg);
    -o-transform: translate(5px, 1px) rotate(-45deg);
    transform: translate(5px, 1px) rotate(-45deg);
    -webkit-transform-origin: 0 100%;
    -moz-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -o-transform-origin: 0 100%;
    transform-origin: 0 100%;
}

#stats .diamond-empty,
#team-stats .diamond-empty,
#matches .diamond-empty {
    display: inline-block;
    width: 6px;
    height: 6px;
    margin: 0 7px 0 1px;
    border: solid 1px white;
    -webkit-transform: translate(5px, 1px) rotate(-45deg);
    -moz-transform: translate(5px, 1px) rotate(-45deg);
    -ms-transform: translate(5px, 1px) rotate(-45deg);
    -o-transform: translate(5px, 1px) rotate(-45deg);
    transform: translate(5px, 1px) rotate(-45deg);
    -webkit-transform-origin: 0 100%;
    -moz-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -o-transform-origin: 0 100%;
    transform-origin: 0 100%;
}

#damage .damage-grid {
    margin: 0 0 10px 10px;
    color: white;
    display: grid;
    grid-template-columns: repeat(8, min-content);
}

#damage .damage-grid-small {
    margin: 0 0 10px 10px;
    color: white;
    display: grid;
    grid-template-columns: repeat(3, min-content);
}

#damage .damage-grid div,
#damage .damage-grid-small div {
    align-self: end;
    min-width: 60px;
    border: solid 1px #999;
    text-align: center;
    white-space: nowrap;
    padding: 2px 5px;
    margin-bottom: -1px;
    margin-left: -1px;
}

#damage .damage-grid > .numeric,
#damage .damage-grid-small > .numeric {
    margin-top: 0px;
}

#damage .percent {
    font-size: 12px;
    width: 6px;
}
