#body {
    background-color: black;
}

#body #standings {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    padding: 10px;
}

#body #standings .diamond {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 10px;
    -webkit-transform: translate(5px, 2px) rotate(-45deg);
    -moz-transform: translate(5px, 2px) rotate(-45deg);
    -ms-transform: translate(5px, 2px) rotate(-45deg);
    -o-transform: translate(5px, 2px) rotate(-45deg);
    transform: translate(5px, 2px) rotate(-45deg);
    -webkit-transform-origin: 0 100%;
    -moz-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -o-transform-origin: 0 100%;
    transform-origin: 0 100%;
}

#body #standings .diamond-empty {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-right: 10px;
    border: solid 2px white;
    -webkit-transform: translate(5px, 2px) rotate(-45deg);
    -moz-transform: translate(5px, 2px) rotate(-45deg);
    -ms-transform: translate(5px, 2px) rotate(-45deg);
    -o-transform: translate(5px, 2px) rotate(-45deg);
    transform: translate(5px, 2px) rotate(-45deg);
    -webkit-transform-origin: 0 100%;
    -moz-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -o-transform-origin: 0 100%;
    transform-origin: 0 100%;
}

#body #standings .tag {
    white-space: nowrap;
}

#body #standings div.header, #body #disbanded div.header {
    font-size: 24px;
    color: white;
}

#body #standings div, #body #disbanded div {
    font-size: 20px;
    color: #999999;
    margin: 1px 3px;
}

#body #standings .provisional, #body #disbanded .provisional {
    font-style: italic;
}

#body #disbanded {
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 10px;
}
