#options {
    padding: 10px;
    color: white;
}

#options .grey {
    color: #999999;
}

#standings .header.before {
    grid-column-end: span 5;
}

#disbanded .header.before {
    grid-column-end: span 4;
}

#body .header.records {
    grid-column-end: span 3;
    text-align: center;
}

#standings {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto;
    padding: 10px;
}

#standings .diamond {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 10px;
    -webkit-transform: translate(5px, 2px) rotate(-45deg);
    -moz-transform: translate(5px, 2px) rotate(-45deg);
    -ms-transform: translate(5px, 2px) rotate(-45deg);
    -o-transform: translate(5px, 2px) rotate(-45deg);
    transform: translate(5px, 2px) rotate(-45deg);
    -webkit-transform-origin: 0 100%;
    -moz-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -o-transform-origin: 0 100%;
    transform-origin: 0 100%;
}

#standings .diamond-empty {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-right: 10px;
    border: solid 2px white;
    -webkit-transform: translate(5px, 2px) rotate(-45deg);
    -moz-transform: translate(5px, 2px) rotate(-45deg);
    -ms-transform: translate(5px, 2px) rotate(-45deg);
    -o-transform: translate(5px, 2px) rotate(-45deg);
    transform: translate(5px, 2px) rotate(-45deg);
    -webkit-transform-origin: 0 100%;
    -moz-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -o-transform-origin: 0 100%;
    transform-origin: 0 100%;
}

#standings .tag {
    white-space: nowrap;
}

#standings div.header, #disbanded div.header {
    font-size: 20px;
    color: #999999;
}

#standings div, #disbanded div {
    font-size: 20px;
    color: white;
    margin: 1px 3px;
}

@media (max-width: 1000px) {
    #standings div.header, #disbanded div.header {
        font-size: 18px;
    }    

    #standings div, #disbanded div {
        font-size: 18px;
    }
}

@media (max-width: 800px) {
    #standings div.header, #disbanded div.header {
        font-size: 14px;
    }    

    #standings div, #disbanded div {
        font-size: 14px;
    }
}

@media (max-width: 700px) {
    #standings {
        grid-template-columns: auto auto auto auto auto auto auto auto;
    }

    #standings .team-name {
        display: none;
    }

    #standings .header.before {
        grid-column-end: span 4;
    }
}

@media (max-width: 500px) {
    #standings {
        grid-template-columns: auto auto auto auto auto auto auto;
    }

    #standings .pos {
        display: none;
    }

    #standings .header.before {
        grid-column-end: span 3;
    }

    #standings .diamond, #standings .diamond-empty {
        display: none;
    }
}

#standings .provisional, #disbanded .provisional {
    color: #999999;
    font-style: italic;
}

#disbanded {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto;
    padding: 10px;
}
