span.grey {
    color: #999999;
}

.diamond {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 8px 0 3px;
    -webkit-transform: translate(5px, 1px) rotate(-45deg);
    -moz-transform: translate(5px, 1px) rotate(-45deg);
    -ms-transform: translate(5px, 1px) rotate(-45deg);
    -o-transform: translate(5px, 1px) rotate(-45deg);
    transform: translate(5px, 1px) rotate(-45deg);
    -webkit-transform-origin: 0 100%;
    -moz-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -o-transform-origin: 0 100%;
    transform-origin: 0 100%;
}

.diamond-empty {
    display: inline-block;
    width: 6px;
    height: 6px;
    margin: 0 8px 0 3px;
    border: solid 2px white;
    -webkit-transform: translate(5px, 1px) rotate(-45deg);
    -moz-transform: translate(5px, 1px) rotate(-45deg);
    -ms-transform: translate(5px, 1px) rotate(-45deg);
    -o-transform: translate(5px, 1px) rotate(-45deg);
    transform: translate(5px, 1px) rotate(-45deg);
    -webkit-transform-origin: 0 100%;
    -moz-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -o-transform-origin: 0 100%;
    transform-origin: 0 100%;
}

.header {
    color: #999999;
}

#team {
    display: grid;
    grid-template-columns: repeat(4, auto);
    padding: 10px;
}

#team .section {
    padding-left: 0;
    padding-right: 0;
}

#team .diamond {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin: 0 20px 0 10px;
    -webkit-transform: translate(5px, 2px) rotate(-45deg);
    -moz-transform: translate(5px, 2px) rotate(-45deg);
    -ms-transform: translate(5px, 2px) rotate(-45deg);
    -o-transform: translate(5px, 2px) rotate(-45deg);
    transform: translate(5px, 2px) rotate(-45deg);
    -webkit-transform-origin: 0 100%;
    -moz-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -o-transform-origin: 0 100%;
    transform-origin: 0 100%;
}

#team .diamond-empty {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: 0 20px 0 10px;
    border: solid 4px white;
    -webkit-transform: translate(5px, 2px) rotate(-45deg);
    -moz-transform: translate(5px, 2px) rotate(-45deg);
    -ms-transform: translate(5px, 2px) rotate(-45deg);
    -o-transform: translate(5px, 2px) rotate(-45deg);
    transform: translate(5px, 2px) rotate(-45deg);
    -webkit-transform-origin: 0 100%;
    -moz-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -o-transform-origin: 0 100%;
    transform-origin: 0 100%;
}

#team #teamname {
    grid-column-end: span 4;
    font-size: 20px;
    color: #ff6600
}

#team #teamname .tag {
    display: inline-block;
    font-size: 48px;
    white-space: nowrap;
}

#team #teamname .name {
    display: inline-block;
    font-size: 48px;
    margin-left: 40px;
}

#team #roster {
    grid-column-end: span 2;
    font-size: 16px;
    color: white;
}

#team #timezone {
    grid-column-end: span 2;
    font-size: 16px;
    color: white;
}

#team #homes-2v2,
#team #homes-3v3,
#team #homes-4v4,
#team #homes-ctf {
    font-size: 16px;
    color: white;
}

@media (max-width: 800px) {
    #team {
        grid-template-columns: repeat(1, auto);
    }

    #team #teamname {
        grid-column-end: span 1;
    }
}

.options {
    font-size: 14px;
    padding: 10px;
    color: white;
}

.options .grey {
    color: #999999;
}

#gamelog {
    padding: 10px;
    font-size: 18px;
    color: white;
}

#records {
    font-size: 20px;
    color: white;
    padding: 10px;
    display: grid;
    grid-template-columns: 50% 50%;
    justify-items: center;
    align-items: start;
}

#records .tag {
    white-space: nowrap;
}

#records .provisional {
    color: #999999;
    font-style: italic;
}

#records .overall {
    font-size: 36px;
    padding: 10px;
}

#records .splits {
    padding: 10px;
}

#records .opponents {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-column-gap: 10px;
    column-gap: 10px;
    padding: 10px;
    font-size: 14px;
}

#records .maps {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-column-gap: 10px;
    column-gap: 10px;
    padding: 10px;
    font-size: 14px;
}

@media (max-width: 900px) {
    #records {
        font-size: 18px;
    }

    #records .section {
        font-size: 18px;
    }

    #records .overall {
        font-size: 24px;
    }
}

@media (max-width: 700px) {
    #records .splits {
        grid-template-columns: repeat(1, auto);
        grid-row-gap: 10px;
        row-gap: 10px;
    }

    #records .opponents {
        grid-template-columns: repeat(2, auto);
    }

    #records .opponents .opponent {
        display: none;
    }
}

@media (max-width: 600px) {
    #records .breakdown {
        grid-template-columns: repeat(1, auto);
        grid-row-gap: 10px;
        row-gap: 10px;
    }
}

#matches {
    display: grid;
    grid-template-columns: repeat(9, auto);
    grid-column-gap: 10px;
    column-gap: 10px;
    padding: 10px;
    color: white;
    font-size: 14px;
}

#matches .tag {
    white-space: nowrap;
}

#matches .result {
    grid-column-end: span 2;
}

#matches .plus {
    font-size: 12px;
    width: 6px;
}

#matches .header.team {
    grid-column-end: span 2;
}

#matches .header.player {
    grid-column-end: span 3;
}

#matches .best-stats {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

@media (max-width: 1100px) {
    #matches {
        grid-template-columns: repeat(8, auto);
    }

    #matches .team-name {
        display: none;
    }

    #matches .header.team {
        grid-column-end: span 1;
    }
}

@media (max-width: 800px) {
    #matches {
        grid-template-columns: repeat(7, auto);
    }

    #matches .header.player {
        grid-column-end: span 2;
    }

    #matches .best-stats {
        display: none;
    }
}

@media (max-width: 700px) {
    #matches {
        grid-template-columns: repeat(5, auto);
    }

    #matches .player {
        display: none;
    }
}

@media (max-width: 500px) {
    #matches {
        grid-template-columns: repeat(4, auto);
    }

    #matches .date {
        display: none;
    }
}

.stats {
    display: grid;
    grid-column-gap: 5px;
    column-gap: 5px;
    padding: 10px;
    color: white;
    font-size: 14px;
}

.stats-ta {
    grid-template-columns: repeat(16, auto);
}

.stats-ctf {
    grid-template-columns: repeat(22, auto);
}

.stats .player, .stats .map {
    max-width: 75px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.stats .best-stats {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#matches .diamond,
.stats .diamond {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin: 0 7px 0 1px;
    -webkit-transform: translate(5px, 1px) rotate(-45deg);
    -moz-transform: translate(5px, 1px) rotate(-45deg);
    -ms-transform: translate(5px, 1px) rotate(-45deg);
    -o-transform: translate(5px, 1px) rotate(-45deg);
    transform: translate(5px, 1px) rotate(-45deg);
    -webkit-transform-origin: 0 100%;
    -moz-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -o-transform-origin: 0 100%;
    transform-origin: 0 100%;
}

#matches .diamond-empty,
.stats .diamond-empty {
    display: inline-block;
    width: 6px;
    height: 6px;
    margin: 0 7px 0 1px;
    border: solid 1px white;
    -webkit-transform: translate(5px, 1px) rotate(-45deg);
    -moz-transform: translate(5px, 1px) rotate(-45deg);
    -ms-transform: translate(5px, 1px) rotate(-45deg);
    -o-transform: translate(5px, 1px) rotate(-45deg);
    transform: translate(5px, 1px) rotate(-45deg);
    -webkit-transform-origin: 0 100%;
    -moz-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -o-transform-origin: 0 100%;
    transform-origin: 0 100%;
}

.stats .tag {
    white-space: nowrap;
}

.stats .header.best {
    grid-column-end: span 4;
}

@media (max-width: 1000px) {
    .stats-ta {
        grid-template-columns: repeat(15, auto);
    }

    .stats-ctf {
        grid-template-columns: repeat(21, auto);
    }

    .stats .header.best {
        grid-column-end: span 3;
    }

    .stats .best-stats {
        display: none;
    }
}

@media (max-width: 900px) {
    .stats-ta {
        grid-template-columns: repeat(12, auto);
    }

    .stats-ctf {
        grid-template-columns: repeat(18, auto);
    }

    .stats .best {
        display: none;
    }
}

@media (max-width: 600px) {
    .stats-ta {
        grid-template-columns: repeat(8, auto);
    }

    .stats-ctf {
        grid-template-columns: repeat(10, auto);
    }

    .stats .totals {
        display: none;
    }
}
